<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/forumbase/css/style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/forumbase/css/debug.css" />
	</head>
	
	<body>
		<div id="page"><div class="bwrapper">
			<div id="site-header"><div class="bwrapper">
				<div id="site-metas">
					<hgroup>
						<h1 id="site-title">The Forum</h1>
						<h2 id="site-slogan">His Slogan</h2>
					</hgroup>
				</div>
				
				<div id="user-panel">
					{% if user.is_authenticated %}
						Loggin as <b>{{ user.username }}</b> - <a href="#">Logout</a>
					{% else %}
						You are not logged in - <a href="#">Login</a>
					{% endif %}
				</div>
				
				<nav id="site-nav">
					<ul>
						<li><a href="{% url admin:index %}" target="djazz_admin">Admin</a></li>
						<li><a href="{% url djazz.forum.views.index %}">Index forum</a></li>
						<li><a href="{% url djazz.forum.views.new %}">Nouveau topic</a></li>
					</ul>
				</nav>
			</div></div>
			
			<div id="site-main"><div class="bwrapper">
				{% block main %}{% endblock %}
			</div></div>
			
			<div id="site-footer"><div class="bwrapper">
				<p>
					forum By Djazz - All rights reserved
				</p>
			</div></div>
		</div></div>
	</body>
</html>
