<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% block head-title %}Djazz{% endblock %}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}djazz/css/djazz.css" />
	{% block head-extras %}{% endblock %}
</head>

<body>
<div id="page_wrap">

	<div id="site_top">
		<div class="wrap">
			<nav id="site_nav">
				<ul>
					{% block site-menu %}{% endblock %}
				</ul>
			</nav>
			<div id="site_user">
				{% block user %}
					{% if user.is_authenticated %}
						Logged as {{ user.username }} - <a href="{% url admin:logout %}">Logout</a>
					{% else %}
						<a href="{% url admin:index %}">Login</a>
					{% endif %}
				{% endblock %}
			</div>
			<div class="clear"></div>
		
		</div>
	</div>
	
	<header id="site_header">
		<div class="wrap">
			<hgroup>
				{% block site-title %}<h1 id="site_title">Djazz</h1>{% endblock %}
				{% block site-slogan %}<h2 id="site_slogan">Django Powered</h2>{% endblock %}
			</hgroup>
		</div>
	</header>
	
	<div id="site_main">
		{% block site-breadcrumb %}
			Accueil
			&gt; <a href="{% url djazz.contrib.profiles.views.index %}">Mon profil</a>
		{% endblock %}
		<div class="wrap">
			{% block main %}{% endblock %}
		</div>
	</div>
	<div class="clear"></div>
	
	<div id="site_footer">
		<p>A django/djazz application</p>
	</div>
	
</div>
</body>
</html>
