body { background-color: #e9f1f4; }

#site-header{ background-color: #1a1a1a; color: #fff; }
	#site-header a { color: #ff0000; }
	
	#site-title { margin:0; padding:0 1em 0 0; float: left; font-size: 1.8em;}
	#site-slogan { margin: 0; padding: 0 0 0 1em; font-size: 1.4em; font-weight: normal; font-style: italic; float: left; border-left: 1px solid #ccc; }
	
	#user-panel { text-align: right; }
	
	#site-nav { position: relative; }
	#site-nav ul { float: right; }
	#site-nav ul, #site-nav li {
		margin:0; padding:0;
	}
	#site-nav ul {}
	#site-nav li { list-style-type: none; float: left; border-left: 1px solid #272727; }
	#site-nav li:last-child { border-right: 1px solid #272727;}
	#site-nav li a { float: left; padding: 1em 2em 1em 2em;}
	#site-nav li a:hover { background-color: #ff8c00; }
	
#site-main{ background-color: #fff;  }
#site-footer { border-top: 1px solid; text-align: center; }
