<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/djazz/lib/960gs/code/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/djazz/lib/960gs/code/css/text.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/djazz/lib/960gs/code/css/960.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/djazz/css/djazz.css" />
	</head>
	
	<body>
		<div id="page">
			
			<div id="site-header">
			<div class="container_16">
				
				<div id="site-metas" class="grid_8">
					<hgroup>
						<h1 id="site-title">Site Title</h1>
						<h2 id="site-slogan">Site Slogan</h2>
					</hgroup>
				</div>
				
				<div id="user-panel" class="grid_8">
					{% if user.is_authenticated %}
						Loggin as <b>{{ user.username }}</b> - <a href="#">Logout</a>
					{% else %}
						You are not logged in - <a href="#">Login</a>
					{% endif %}
				</div>
				<div class="clear"></div>
				
				<nav id="site-nav" class="grid_16">
					<ul>
						<li><a href="{% url admin:index %}" target="djazz_admin">Admin</a></li>
						<li><a href="{% url djazz.forum.views.index %}">Index forum</a></li>
						<li><a href="{% url djazz.forum.views.new %}">Nouveau topic</a></li>
					</ul>
				</nav>
			
			</div>
			</div>
			
			
			
			<div id="site-main" class="container_16">
				<div class="grid_16">
					{% block main %}{% endblock %}
				</div>
			</div>
			
			
			
			<div id="site-footer">
			<div class="container_16">
				<p>
					forum By Djazz - All rights reserved
				</p>
			</div>
			</div>
			
		</div>

	</body>
</html>
